<%- include('./partials/header')%>
  <link rel="stylesheet" href="/stylesheets/index.css">

  <div class="line1">
    <a href="/create-admin"><button class="btn btn-danger">ADMIN</button></a>
    <a href="/show"><button class="btn btn-danger">ADMIN PRODUCTS</button></a>

    <a style="text-decoration: none;" href="/show">Mobiles</a>
    <a style="text-decoration: none;" href="">Dresses</a>
    <a style="text-decoration: none;" href="">Perfumes</a>
    <a style="text-decoration: none;" href="">Shoes</a>
    <a style="text-decoration: none;" href="">Watch</a>

  </div>
  <div class="page1" style="width: 100%;height: 85%;">

    <div class="part1">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img
              src="https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              class="d-block w-100 perfume" alt="...">
          </div>

          <div class="carousel-item ">
            <img
              src="https://images.unsplash.com/photo-1586790584169-41fda9df2be8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              class="d-block w-100 perfume" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://images.unsplash.com/photo-1536121752905-02ab90945c26?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80"
              class="d-block w-100 perfume " alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>

  <div style="width: 100%; height: 100%;" class="page2">

    <div class="page2part1" style="color: black; margin-bottom: 10px;">
      <h1 style="text-align: center;">Get the best deals on top products</h1>
      <p style="text-align: center;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur totam natus
        assumenda quas sequi doloremque sint iste voluptatum alias voluptates!</p>
    </div>
    <div class="page2part2" style="display: flex;">

      <div class="shoes" style="margin-left: 10px;"> <img class="shoes1"
          src="https://images.unsplash.com/photo-1624006931437-f981ccdfc84d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
          alt=""></div>
      <div class="shoes"> <img class="shoes1"
          src="https://images.unsplash.com/photo-1598600815245-f806c8259e1e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80">
      </div>
      <div class="shoes"> <img class="shoes1"
          src="https://images.unsplash.com/photo-1622434641406-a158123450f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1904&q=80">
      </div>
      <div class="shoes"> <img class="shoes1"
          src="https://images.unsplash.com/photo-1543508282-5c1f427f023f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1915&q=80">
      </div>


    </div>
    <div class="page2part3" style="display: flex;">
      <div class="detailss"
        style="border-color: black; padding: 5px; margin-left: 10px; display: flex; justify-content: center;">
        <a href="">
          <button class="btn btn-success">Show more Mobiles</button>
        </a>
      </div>
      <div class="detailss"
        style="border-color: black; padding: 5px; margin-left: 10px; display: flex; justify-content: center;">
        <a href="">
          <button class="btn btn-success">Show more Dresses</button>
        </a>
      </div>
      <div class="detailss"
        style="border-color: black; padding: 5px; margin-left: 10px; display: flex; justify-content: center;">
        <a href="">
          <button class="btn btn-success">Show more Watches</button>
        </a>
      </div>
      <div class="detailss"
        style="border-color: black; padding: 5px; margin-left: 10px; display: flex; justify-content: center;">
        <a href="">
          <button class="btn btn-success">Show more Shoes</button>
        </a>
      </div>

    </div>

  </div>
  <div class="page3">

    <div class="page3part1">
      <div class="outer" style="width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.511);"></div>
    </div>

    <div class="page3part2">
      <h2
        style="font-size: 40px;font-family: Georgia, 'Times New Roman', Times, serif;word-spacing: 5px; text-shadow: 1px 1px 8px green">
        Sign in for continue shopping and discount </h2>
      <p
        style="font-style: italic; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Dignissimos similique officia eligendi <br>
        excepturi hic magnam cupiditate <br> vitae eaque obcaecati beatae.</p>

      <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;word-spacing: 5px;">Sign in Here 👇</h3>

      <form action="/signin" method="post">
        <input class="mb-3 form-control w-75" type="text" placeholder="username" name="username">
        <input class="mb-3 form-control w-75" type="text" placeholder="password" name="password">
        <button class="btn btn-success mb-3">Signin</button>
      </form>
      <p>Doesn't have an account ? <a href="/signup">Signup</a></p>

    </div>
  </div>

  <div class="page4" style="display: flex;">
    <div class="page4part1" style=" padding: 20px; width: 40%;height: 100%; ">
      <h1 style="font-size: 35px;font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">Here you
        can buy clothes of top Brands with exclusive discount offer. </h1>
      <p style="text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum debitis veniam <br>
        natus minima qui totam magnam veritatis dolorem sit consequatur <br> ducimus esse, asperiores nesciunt
        aspernatur assumenda placeat cum eligendi <br> numquam provident. Provident nulla amet fugit voluptates <br>
        voluptatibus nostrum <br>voluptas molestiae. Lorem ipsum dolor <br> sit amet consectetur adipisicing elit.
        Corrupti adipisci <br> aliquid totam reiciendis id est <br> incidunt deleniti nesciunt, ex tempore. Lorem ipsum
        dolor <br> sit, amet consectetur adipisicing elit. <br>Recusandae odio, quidem fugiat corrupti dolorem quas
        accusantium omnis veritatis est iure, maiores aspernatur voluptatum saepe voluptates? <br> Ab eum optio ad
        incidunt ea aliquid animi fuga <br> laboriosam eaque accusamus excepturi, <br>aut omnis? Lorem ipsum dolor sit
        <br>amet consectetur adipisicing elit. <br> Corporis, reprehenderit?</p>
      <a style="margin-left: 232px;" href=""><button class="btn btn-success">Show more Clothes</button></a>

    </div>
    <div class="page4part2" style=" padding: 20px; width: 60%;height: 100%;">
      <img style="width: 100%; border-radius: 20px;"
        src="https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
        alt="">
    </div>


  </div>

  <div class="page5" style="display: flex;">

    <div class="page5part1" style=" padding: 20px; width: 60%;height: 100%;">
      <img style="width: 100%; border-radius: 20px; "
        src="https://images.unsplash.com/photo-1557828000-6e36a7baf9df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1776&q=80"
        alt="">
    </div>

    <div class="page5part2" style=" padding: 20px; padding-top: 40px; width: 40%;height: 100%; ">
      <h1 style="font-size: 35px;font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">Here you
        can
        buy best perfume and attars with great offer </h1>
      <p style="text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum debitis veniam <br>
        natus minima qui totam magnam veritatis dolorem sit consequatur <br> ducimus esse, asperiores nesciunt
        aspernatur assumenda placeat cum eligendi <br> numquam provident. Provident nulla amet fugit voluptates <br>
        voluptatibus nostrum <br>voluptas molestiae. Lorem ipsum dolor <br> sit amet consectetur adipisicing elit.
        Corrupti adipisci <br> aliquid totam reiciendis id est <br> incidunt deleniti nesciunt, ex tempore. Lorem ipsum
        dolor <br> sit, amet consectetur adipisicing elit. <br>Recusandae odio, quidem fugiat corrupti dolorem quas
        accusantium omnis veritatis est iure, maiores aspernatur voluptatum saepe voluptates? <br> Ab eum optio ad
        incidunt ea aliquid animi fuga <br> laboriosam eaque accusamus excepturi, <br>aut omnis? Lorem ipsum dolor sit
        <br>amet consectetur adipisicing elit. <br> Corporis, reprehenderit?
      </p>
      <a style="margin-left: 260px;" href=""><button class="btn btn-success">Show more</button></a>

    </div>

  </div>

  <div class="page6" style="display: flex;">

    <div class="page6part2" style=" padding: 20px; padding-top: 40px; width: 40%;height: 100%; ">
      <h1 style="font-size: 35px;font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">Here you
        can
        buy best watches of top brands</h1>
      <p style="text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum debitis veniam
        <br>
        natus minima qui totam magnam veritatis dolorem sit consequatur <br> ducimus esse, asperiores nesciunt
        aspernatur assumenda placeat cum eligendi <br> numquam provident. Provident nulla amet fugit voluptates <br>
        voluptatibus nostrum <br>voluptas molestiae. Lorem ipsum dolor <br> sit amet consectetur adipisicing elit.
        Corrupti adipisci <br> aliquid totam reiciendis id est <br> incidunt deleniti nesciunt, ex tempore. Lorem
        ipsum
        dolor <br> sit, amet consectetur adipisicing elit. <br>Recusandae odio, quidem fugiat corrupti dolorem quas
        accusantium omnis veritatis est iure, maiores aspernatur voluptatum saepe voluptates? <br> Ab eum optio ad
        incidunt ea aliquid animi fuga <br> laboriosam eaque accusamus excepturi, <br>aut omnis? Lorem ipsum dolor
        sit
        <br>amet consectetur adipisicing elit. <br> Corporis, reprehenderit?
      </p>
      <a style="margin-left: 260px;" href=""><button class="btn btn-success">Show more</button></a>

    </div>


    <div class="page6part1" style=" padding: 20px; width: 60%;height: 100%;">
      <img style="width: 100%; border-radius: 20px; "
        src="https://images.unsplash.com/photo-1526743655626-e3d757b13d61?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
        alt="">
    </div>
  </div>


  <div class="page7" style="display: flex;">

    <div class="page7part1" style=" padding: 20px; width: 60%;height: 100%;">
      <img style="width: 100%; border-radius: 20px; "
        src="https://images.unsplash.com/photo-1633464129147-777bdcc97c1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1184&q=80"
        alt="">
    </div>

    <div class="page7part2" style=" padding: 20px; padding-top: 40px; width: 40%;height: 100%; ">
      <h1 style="font-size: 35px;font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">Here you
        can
        buy best watches of top brands</h1>
      <p style="text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum debitis veniam
        <br>
        natus minima qui totam magnam veritatis dolorem sit consequatur <br> ducimus esse, asperiores nesciunt
        aspernatur assumenda placeat cum eligendi <br> numquam provident. Provident nulla amet fugit voluptates <br>
        voluptatibus nostrum <br>voluptas molestiae. Lorem ipsum dolor <br> sit amet consectetur adipisicing elit.
        Corrupti adipisci <br> aliquid totam reiciendis id est <br> incidunt deleniti nesciunt, ex tempore. Lorem
        ipsum
        dolor <br> sit, amet consectetur adipisicing elit. <br>Recusandae odio, quidem fugiat corrupti dolorem quas
        accusantium omnis veritatis est iure, maiores aspernatur voluptatum saepe voluptates? <br> Ab eum optio ad
        incidunt ea aliquid animi fuga <br> laboriosam eaque accusamus excepturi, <br>aut omnis? Lorem ipsum dolor
        sit
        <br>amet consectetur adipisicing elit. <br> Corporis, reprehenderit?
      </p>
      <a style="margin-left: 260px;" href=""><button class="btn btn-success">Show more</button></a>

    </div>

  </div>


  <div class="page8" style="display: flex;">

    <div class="page8part2" style=" padding: 20px; padding-top: 40px; width: 40%;height: 100%; ">
      <h1 style="font-size: 35px;font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">Here you
        can
        buy best watches of top brands</h1>
      <p style="text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum debitis veniam
        <br>
        natus minima qui totam magnam veritatis dolorem sit consequatur <br> ducimus esse, asperiores nesciunt
        aspernatur assumenda placeat cum eligendi <br> numquam provident. Provident nulla amet fugit voluptates <br>
        voluptatibus nostrum <br>voluptas molestiae. Lorem ipsum dolor <br> sit amet consectetur adipisicing elit.
        Corrupti adipisci <br> aliquid totam reiciendis id est <br> incidunt deleniti nesciunt, ex tempore. Lorem
        ipsum
        dolor <br> sit, amet consectetur adipisicing elit. <br>Recusandae odio, quidem fugiat corrupti dolorem quas
        accusantium omnis veritatis est iure, maiores aspernatur voluptatum saepe voluptates? <br> Ab eum optio ad
        incidunt ea aliquid animi fuga <br> laboriosam eaque accusamus excepturi, <br>aut omnis? Lorem ipsum dolor
        sit
        <br>amet consectetur adipisicing elit. <br> Corporis, reprehenderit?
      </p>
      <a style="margin-left: 260px;" href=""><button class="btn btn-success">Show more</button></a>

    </div>

    <div class="page8part1" style=" padding: 20px; width: 60%;height: 100%;">
      <img style="width: 100%; border-radius: 20px; "
        src="https://mysterio.yahoo.com/api/res/1.2/6Gp8E6FH5yTc0G9KSpeJIw--/ZHByPTI7dz04NzU7YXBwaWQ9ZW5nYWRnZXQ-/https://s.yimg.com/os/creatr-uploaded-images/2021-09/f1922dd0-1cff-11ec-bdde-90058ea15718.cf.webp"
        alt="">
    </div>
    <img src="" alt="">

  </div>

  <div style="color: white; width: 100%;height: 50%;background-color: black; display: flex;" class="page9">
    <div class="page9part1"
      style=" display: flex; flex-direction: column; padding: 50px;padding-top: 100px; height: 100%;width: 20%;border-right: 20px; border-color: white;">

      <h4>About us</h4>

      <a style="text-decoration: none; color: whiteclear
        ;" href="">Contact</a>
      <a style="text-decoration: none; color: whiteclear
        ;" href="">Careers</a>
      <a style="text-decoration: none; color: whiteclear
        ;" href="">Press</a>
      <a style="text-decoration: none; color: whiteclear
        ;" href="">Wholesale</a>
      <a style="text-decoration: none; color: whiteclear
        ;" href="">Corporate information</a>
    </div>
    <div class="page9part2"
      style=" display: flex; flex-direction: column; padding: 50px;padding-top: 100px; height: 100%;width: 20%;">

      <h4>Help</h4>
      <a style="text-decoration: none; color: white;" href="">Payments</a>
      <a style="text-decoration: none; color: white;" href="">Shipping</a>
      <a style="text-decoration: none; color: white;" href="">Cancellation & Returns</a>
      <a style="text-decoration: none; color: white;" href="">FAQ</a>
      <a style="text-decoration: none; color: white;" href="">Report Infringement</a>
    </div>
    <div class="page9part3"
      style="display: flex; flex-direction: column; padding: 50px;padding-top: 100px; height: 100%;width: 20%;">

      <h4>Consumer Policy</h4>
      <a style="text-decoration: none; color: white;" href="">Return Policy</a>
      <a style="text-decoration: none; color: white;" href="">Terms of Use</a>
      <a style="text-decoration: none; color: white;" href="">Security</a>
      <a style="text-decoration: none; color: white;" href="">Privacy</a>
      <a style="text-decoration: none; color: white;" href="">Sitemap</a>
      <a style="text-decoration: none; color: white;" href="">EPR Compilence</a>
    </div>
    <div class="page9part4"
      style="display: flex; flex-direction: column; padding: 50px;padding-top: 100px; height: 100%;width: 20%;">

      <h4>Social</h4>
      <a style="text-decoration: none; color: white;" href="">Facebook</a>
      <a style="text-decoration: none; color: white;" href="">Twitter</a>
      <a style="text-decoration: none; color: white;" href="">youtube</a>


    </div>
    <div class="page9part5"
      style="display: flex; flex-direction: column; padding: 50px;padding-top: 100px; height: 100%;width: 20%; "></div>
  </div>

  <%- include('./partials/footer')%>





<!--  -->
<!-- <div style="display: flex; justify-content: center; align-items: center;">
  <a style="font-size: 40px; margin-top: 200px;" href="/create-admin">Create</a>
  <a style="font-size: 40px; margin-top: 200px; margin-left: 20px;" href="/show">Show</a>
</div> -->